<a href="https://colab.research.google.com/github/rashi789/rashi/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tuple=("aman","arti","arju")
print(tuple)

('aman', 'arti', 'arju')

In [7]:
tuple=("aman","arti","anu")
tuple.index("aman")

0

In [10]:
tuple1=("anu","priya","shreya")
tuple2=("arju","neha","manu")
set1=set(tuple2)
set2=set(tuple1)
set1.discard(tuple2)
print(set1)

{'arju', 'neha', 'manu'}

In [30]:
fruits=(("mango","guava","grapes","mango"))
res=[]
for j in range(len(fruits)):
  my_fruit=fruits[j]
  count=0
  for i in range(len(fruits)):
      if i==j:
       continue
      if fruits[i]==fruits[j]:
        count+=1
  if count>0:
      if fruits[j] not in res:
       res.append(my_fruit)
print(res)

['mango']